<%= render 'shared/flash' %>

<h3>保存中の食材登録フォーム</h3>

<div class="row">
  <div class="offset-md-3 col-md-6">
    <%= form_with model: @inventory do |f| %>

      <div class="form-group">
        <%= f.label :image, class: "inventory__label mr-3 d-none " do %>
         　　<%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "hidden_file_field" %>
        <% end %>
        <i class="fa-solid fa-camera mr-2" style="color: #000000;"></i>食材画像
        </br>
        <%= image_tag inventory.image.url, class: "inventory__img img-fluid d-inline" %>
      </div>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :quantity %>
        <%= f.text_field :quantity, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :expiration_date, class: "text-center" %>
        <%= f.date_field :expiration_date, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :memo %>
        <%= f.text_area :memo, class: "form-control inventory__input-memo" %>
      </div>

      <div class="form-group d-flex justify-content-center">
        <%= f.button "送信する", class:"btn btn-outline-success col-md-5 mt-4" %>
      </div>
    <% end %>
  </div>
</div>


<style>
  .hidden_file_field {
    display: none;
  }
</style>