<div class="row login__background">
  <div class="col-md-6 px-sm-0 d-flex">
    <%= image_tag 'introduction.jpg', class: "introduction__img" %>
  </div>

  <div class="col-md-6 align-self-center">
    <div class="col-md-10 offset-md-1">
      <div class="text-center mt-4 mb-3">
        <h3>新規登録</h3>
      </div>

      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

        <div class="form-group">
          <%= f.label :name, {class: 'login__label'} %>
          <%= f.text_field :name, maxlength: '50', class:"form-control" %>
          <% if @user.errors.include?(:name) %>
            <p class="login__form-error"><%= @user.errors.full_messages_for(:name).first %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :email, {class: 'login__label'} %>
          <%= f.email_field :email, maxlength: '100', class:"form-control" %>
          <% if @user.errors.include?(:email) %>
            <p class="login__form-error"><%= @user.errors.full_messages_for(:email).first %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password, {class: 'login__label'} %>
          <%= f.password_field :password, autocomplete: "off", minlength: @minimum_password_length, maxlength: '20', class:"form-control" %>
          <% if @minimum_password_length %>
            <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
          <% end %>
          <% if @user.errors.include?(:password) %>
            <p class="login__form-error"><%= @user.errors.full_messages_for(:password).first %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, {class: 'login__label'} %>
          <%= f.password_field :password_confirmation, autocomplete: "off", minlength: @minimum_password_length, maxlength: '20', class:"form-control" %>
          <% if @user.errors.include?(:password_confirmation) %>
            <p class="login__form-error"><%= @user.errors.full_messages_for(:password_confirmation).first %>
          <% end %>
        </div>

        <div class="col-md-12 px-sm-0 d-flex justify-content-center">
          <%= f.submit "新規登録", class:"btn btn-outline-success mt-4 mb-3 w-50" %>
        </div>
      <% end %>

      <div class="mt-2 mb-4">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>