<% comments.each do |comment| %>
  <% if comment.reply_comment.present? || comment.blank? %>
    <% next %>
  <% end %>
  <div class="comment_item">
    <% if user_signed_in? && comment.user == current_user %>
      <%= link_to recipe_comment_path(@recipe.id, comment.id), method: :delete, data: { confirm: '削除してよろしいですか？' } do %>
        <i class="fa-solid fa-trash-can mt-3" style="color: #000000;"></i>  <!--ゴミ箱アイコン-->
      <% end %>
    <% end %>

    <div>
      <%= link_to image_tag(comment.user.avatar.url, class:'comment__img rounded-circle'), user_path(id: comment.user_id) %>
      <%= link_to comment.user.name, user_path(id: comment.user_id) %>
      <div class="post-date"><%= comment.created_at.to_s(:datetime_jp) %></div>
    </div>

    <div><%= comment.content %></div>

    <% if user_signed_in? %>
      <%= render 'comments/reply_form', comment: comment %>
    <% end %>
    <%= render 'comments/reply_comment', comment: comment %>
  </div>
<% end %>