<section class="favorite text-right mb-2">
  <% if user_signed_in? %>
    <% if current_user.already_favorited?(recipe) %>  <!--いいね数-->
      <%= link_to recipe_favorites_path(recipe), remote: true, method: :delete, class: "favorite__link" do %>
        <i class="fas fa-heart favorite__btn"></i>
      <% end %>
      <span class="favorite__count mr-2"><%= recipe.favorites.length %></span>
    <% else %>
      <%= link_to recipe_favorites_path(recipe), remote: true, method: :post, class: "favorite__link" do %>
        <i class="far fa-heart favorite__btn"></i>
      <% end %>
      <span class="favorite__count mr-2"><%= recipe.favorites.length %></span>
    <% end %>
  <% end %>

  <%= link_to user_path(id: recipe.user_id) do %>
    <%= image_tag recipe.user.avatar.url, class:'list__user-img rounded-circle' %>  <!--ユーザ画像-->
  <% end %>
  <%= link_to recipe.user.name, user_path(id: recipe.user_id), class: "list__user-name mr-2" %>  <!--ユーザ名-->
</section>