<div class="nested-fields row my-4">
  <%= f.hidden_field :_destroy %>
  <!--<div class="step__inputBx">-->
  <!--  <p class="step__number"></p>-->

  <div class="form-group">
    <%= f.text_area :direction, class:"form-control introduction"%>
  </div>

    <div class="step__form-img">
      <%= image_tag f.object.image.url, size: "80x80" %>
    </div>
    <%= link_to_remove_association f, class: 'btn btn-default' do %>
      <!--<%#= image_tag 'delete', class: "js-remove_fields" %>-->
      <i class="fa-solid fa-trash-can" style="color: #000000;"></i>
    <% end %>

    <div class="step__file-input">
      <% if current_page?(controller:"recipes", action: "new") %>
        <span class="step__file-label">手順の画像：</span><%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", id: "step-image" %>
      <% else %>
        <span class="step__file-label">変更後の画像：</span><%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", id: "step-image" %>
      <% end %>
    </div>

  </div>
</div>