<!-- headerの記述 -->
<header>
  <div class="header" style="z-index:1;">  <!--styleでheaderの前面・後面を指定できる 2か所に記述-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <%= link_to root_path do %>
        <%= image_tag 'EnjoyRecipe.png', size: "100x100" %>  <!--logo-->
      <% end %>

      <!--ハンバーガーメニュー-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <% if user_signed_in? %>
          <ul class="navbar-nav ml-auto">
            <div class="text-end mr-2">
              <%= link_to 'マイページ', user_path(id: current_user.id), class:"btn btn-outline-warning w-100 mb-2" %>
            </div>
            <div class="text-end mr-2">
              <%= link_to 'タイムライン', recipes_tweet_path, class:"btn btn-outline-warning w-100 mb-2" %>
            </div>
            <div class="text-end mr-2">
              <%= link_to 'レシピ一覧', recipes_path, class:"btn btn-outline-warning w-100 mb-2" %>
            </div>
            <div class="text-end mr-2">
              <%= link_to 'ユーザー一覧', users_path, class:"btn btn-outline-warning w-100 mb-2" %>
            </div>
            <div class="text-end mr-2">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn btn-outline-warning w-100 mb-2" %>
            </div>
          </ul>
        <% else %>
          <ul class="navbar-nav">
            <div class="text-end mr-2">
              <%= link_to '新規登録', new_user_registration_path, class:"btn btn-outline-warning w-100 mb-2" %>
            </div>
            <div class="text-end mr-2">
              <%= link_to 'ログイン', new_user_session_path, class:"btn btn-outline-warning w-100 mb-2" %>
            </div>
            <div class="text-end mr-2">
              <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class:"btn btn-outline-warning w-100 mb-2" %>
            </div>
            <div class="text-end mr-2">
              <%= link_to 'レシピ一覧', recipes_path, class:"btn btn-outline-warning w-100 mb-2" %>
            </div>
          </ul>
        <% end %>
      </div>
    </nav>
  </div>
</header>