<!-- headerの記述 -->
<header class="shadow-sm px-sm-0">
  <nav class="navbar navbar-expand-lg navbar-light">
    <%= link_to root_path do %>
      <%= image_tag 'EnjoyRecipe', size: "100x100" %>
    <% end %>

    <!--ハンバーガーメニュー-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <!--<nav class="header__nav">-->
      <!--<ul class="header__ul">-->
        <% if user_signed_in? %>
          <div>
            <ul class="navbar-nav mx-auto">
              <div class="text-end">
                <%= link_to 'マイページ', user_path(id: current_user.id), class:"btn btn-outline-warning mr-2" %>
              </div>
              <div class="text-end">
                <%= link_to 'タイムライン', recipes_tweet_path, class:"btn btn-outline-warning mr-2" %>
              </div>
              <div class="text-end">
                <%= link_to 'レシピ一覧', recipes_path, class:"btn btn-outline-warning mr-2" %>
              </div>
              <div class="text-end">
                <%= link_to 'ユーザー一覧', users_path, class:"btn btn-outline-warning mr-2" %>
              </div>
              <div class="text-end">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn btn-outline-warning mr-2" %>
              </div>
            </ui>

        <% else %>
            <ul class="navbar-nav">
              <div class="text-end">
                <%= link_to '新規登録', new_user_registration_path, class:"btn btn-outline-warning mr-2" %>
              </div>
              <div class="text-end">
                <%= link_to 'ログイン', new_user_session_path, class:"btn btn-outline-warning mr-2" %>
              </div>
              <div class="text-end">
                <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class:"btn btn-outline-warning mr-2" %>
              </div>
              <div class="text-end">
                <%= link_to 'レシピ一覧', recipes_path, class:"btn btn-outline-warning mr-2" %>
              </div>
            </ul>
          </div>
        <% end %>
    </div>
  </nav>

    <!--<button class="mobile-menu__btn">-->
    <!--  <span></span>-->
    <!--  <span></span>-->
    <!--  <span></span>-->
    <!--</button>-->

</header>