<div class="container">
  <div class="row">

      <% @recipes.each do |recipe| %>
        <div class="col-md-3 mb-2">
          <%= link_to image_tag(recipe.image.url,class:"list__img"), recipe_path(recipe), class: "list__img" %>　<!--サイズ変更したい-->
          <div class="list__detail">
            <span class="timestamp"><%= recipe.created_at.to_s(:datetime_jp) %></span><br>
            <%= link_to recipe.title, recipe_path(recipe), class: 'list__recipetitle' %>
            <div class="list__description"><%= recipe.description %></div>
          </div>
          <div class="list__info">
            <div id="recipe_<%= recipe.id %>">
              <%= render partial: "recipes/favorite", locals: { recipe: recipe } %>
            </div>
            <%= link_to user_path(id: recipe.user_id) do %>
              <%= image_tag recipe.user.avatar.url, class:'list__user-img rounded-circle', size: "50x50" %>
            <% end %>
            <%= link_to recipe.user.name, user_path(id: recipe.user_id), class: "list__user-name" %>
          </div>
        </div>
      <% end %>

  </div>
</div>