<div class="col-md-4 justify-content-center d-flex mypage__botton">
  <%= link_to(user_path(@user)) do %>
    <div class="d-flex flex-col">
      <p class="mr-1">レシピ</p>
      <%= @user.recipes.length %>
    </div>
  <% end %>
</div>
<div class="col-md-4 justify-content-center d-flex mypage__botton">
  <%= link_to(favorites_user_path(@user)) do %>
    <div class="d-flex flex-col">
      <p class="mr-1">いいね</p>
      <p class="user_count" id="following"><%= @user.favorites.length %></p>
    </div>
  <% end %>
</div>
<div class="col-md-4 justify-content-center d-flex mypage__botton">
  <% if @user == current_user %>
    <%= link_to(inventories_user_path(@user)) do %>
      <div class="d-flex flex-col">
        <p class="mr-1">食材</p>
        <p class="user_count"><%= @user.inventories.length %></p>
      </div>
    <% end %>
  <% end %>
</div>