<%= render 'layouts/notifications' %>

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4 mb-3">
      <h3>タイムライン</h3>
    </div>
    <% @tweet.each do |recipe| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="tweet_info" style="margin-top: 15px;margin-left: 15px;">
            <%= link_to image_tag(recipe.user.avatar.url, class:"list__user-img rounded-circle"), user_path(id: recipe.user_id) %>
            <%= link_to recipe.user.name ,user_path(id: recipe.user_id) %>
          </div>
          <span class="timestamp" style="margin-left: 15px;">
            <%= recipe.created_at.to_s(:short) %>
          </span>
          <div style="margin-left: 15px;">
            <%= link_to recipe.title, recipe_path(id: recipe.id) %>
          </div>
          <div class="tweet_description" style="margin-bottom: 15px;margin-left: 15px;">
            <%= recipe.description %>
          </div>
          <%= link_to recipe_path(recipe) do %>
            <div>
              <%= image_tag recipe.image.url, class: "list__img" %>
            </div>
          <% end %>
          <div class="card-body">
            <section class="tag">
              <div>
                <% recipe.tags.each do |tag| %>
                  <%= tag.name %>
                <% end %>
              </div>
            </section>
            <div class="tweet_reaction">
              <%= link_to recipe_path(id: recipe.id) do %>
                <i class="far fa-comment"></i>
                <span><%= recipe.comments.length %></span>
              <% end %>
            </div>
            <div id="recipe_<%= recipe.id %>" >
              <%= render partial: "recipes/favorite", locals: { recipe: recipe } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-md-12 justify-content-center d-flex mt-4 mb-4">
      <%= paginate @tweet %>
    </div>
  </div>
</div>