<!DOCTYPE html>
<html>
  <head>
    <title>EnjoyRecipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/f47996184c.js" crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--カリキュラム6章-->
      <header>
    <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>  <!--ログイン済の場合-->
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>  <!--ログイン未の場合-->
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
  </header>
  <%= user_signed_in? %>
  <!--ここまで-->
    <div id="global-container">

      <div class="container">
        <div class="mobile-menu__cover"></div>
        <div class="nav-trigger"></div>
          <%= render 'shared/header' %>
          <div class="main-top">
            <%= yield %>
            <%= render 'shared/footer' %>
          </div>
      </div>
    </div>

  </body>
</html>
