<!DOCTYPE html>
<html>
  <head>
    <title class="text-success">EnjoyRecipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/f47996184c.js" crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin:0px; background-color:#fff; color:#000;">
    <div class="global-container">
      <div id="wrapper">
        <div class="mobile-menu__cover"></div>
        <div class="nav-trigger"></div>
          <%= render 'shared/header' %>
        <div class="main-top" style="z-index:10; margin-top: 10em;">  <!--styleでheaderの前面・後面を指定できる 2か所に記述-->

          <%= yield %>
          <%= render 'shared/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>



<!--ヘッダー固定-->
<style>
  .header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 110px;
    /*border:1px solid #ccc;*/
    background-color: rgba(255, 255, 255, 0.8); /* 背景のみ半透明 */
    /* opacity:0.5; 文字も半透明 */
  }
</style>